@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}


/* Add your CSS styles for the converter here */

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #000000, #4683d8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #b6b1b1dc;
}

.converter {
    width: 420px;
    height: 420px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 45px;
    border-radius: 20px;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: rgb(233, 94, 94);
    font-size: 22px;
}

label {
    margin: 16px;
}

.container {
    display: flex;
}

input {
    width: 250px;
    border: 1px solid #717377;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    border-radius: 10px;
    padding: 3px;
    margin: 10px 10px;
    background: transparent;
    font-size: 50px;
    text-align: left;
    cursor: pointer;
    color: #ffffff;
}